<!--
The content below is only a placeholder and can be replaced.

<h1>Hello, ennek kellene látszódnia!</h1>

<app-event></app-event>

<ul>
  <li *ngFor="let event of events">{{event}}</li>
</ul>

<div *ngIf="show">
  <p>Ezaz, sikerült!</p>
</div>

<div [ngClass]="{ 'valami' : show}">
  <p>ngClass demo</p>
</div>

<button (dblclick)="toggle()"
        (mouseover)="demo($event)"
        [disabled]="klikkeljunke"
>Toggle</button><br><br>

<app-event></app-event>
<app-event></app-event>
<app-event></app-event>
<app-event></app-event>

-->

<app-listdemo></app-listdemo>
